<ion-content padding class="content">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>

      <ion-row class="row-title">
        <ion-col>
          <img src="../../assets/logo_transparent.png" class="img-icon" >
        </ion-col>
      </ion-row>

      <ion-row class="row-pic">
        <ion-col size-sm="6" offset-sm="3" class="col-pic">
          <img src="https://img.icons8.com/wired/60/000000/broccoli.png" />
          <img src="https://img.icons8.com/wired/60/000000/citrus.png" />
          <img src="https://img.icons8.com/wired/60/000000/hamburger.png" />
          <img src="https://img.icons8.com/wired/60/000000/rack-of-lamb.png" />
          <img src="https://img.icons8.com/wired/60/000000/cake.png" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="transparent-background">
          <ion-list class="transparent-background">
            <ion-item class="itemm" lines="none">
              <ion-input type="email" placeholder="Email" ngModel name="email" required email #emailCtrl="ngModel">
              </ion-input>
            </ion-item>

            <ion-item class="itemm" lines="none">
              <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Password" ngModel name="password"
                required minlength="6" #passwordCtrl="ngModel"></ion-input>
              <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="button" expand="block" (click)="onSwitchAuthMode()" class="switch-button">
            Switch to {{ isLogin ? 'Signup' : 'Login' }}
          </ion-button>
          <ion-button type="submit" expand="block" [disabled]="!f.valid" class="login-button">
            {{ isLogin ? 'Login' : 'Signup' }}
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>