<ion-content>
  
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="food">
        <ion-label>Food</ion-label>
        <ion-icon name="fast-food"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="calculator">
        <ion-label>Calculator</ion-label>
        <ion-icon name="calculator"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="articles">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="food-history">
        <ion-label>Food History</ion-label>
        <ion-icon name="hourglass"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="progress">
        <ion-label>Progress</ion-label>
        <ion-icon name="podium"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
